body
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.43/Tone.js' inline)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.js' inline)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/scribbletune/3.12.1/scribbletune.js' inline)
  import(from='index.js')
