body
  script(src='https://unpkg.com/webaudiofont@2.6.61/npm/dist/WebAudioFontPlayer.js' inline)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/scribbletune/3.12.1/scribbletune.js' inline)
  import(from='index.js')
