head
  style.
    body, input, button, textarea {
      background-color: #2A2A2A;
      color: #FEFEFE;
    }
    textarea {
      padding: 1em;
    }
body
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.43/Tone.js' inline)
  script(src='https://unpkg.com/webaudiofont@2.6.61/npm/dist/WebAudioFontPlayer.js' inline)
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/scribbletune/3.12.1/scribbletune.js' inline)
  import(from='index.js')
